---
import AdminLayout from '../../layouts/AdminLayout.astro';
import AdminGate from '../../components/admin/AdminGate.astro';
---

<AdminLayout title="Admin | OndaCoreana" breadcrumbs={['Admin', 'Inicio']}>
  <AdminGate redirect="/admin/features">
    <p>Sesión activa. Redirigiendo a /admin/features...</p>
  </AdminGate>
</AdminLayout>
